<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuvic.user.UserMapper">
    <!--
        회원 리스트 받아오는 쿼리
    -->
    <select id="getUserList" resultType="com.cuvic.user.UserVO">
        SELECT
        USER_NUMB,      /*유저 ID*/
        USER_NAME,      /*유저 이름*/
        USER_GRAD,      /*유저 학년*/
        USER_BIRT,      /*유저 생일*/
        (SELECT STAT_NAME
        FROM User_Stat
        WHERE USER_STAT = STAT_NUMB) AS USER_STAT,      /*유저 상태
                                // 0 : 자퇴
                                // 1 : 재학
                                // 2 : 휴학
                                // 3 : 졸업*/
        USER_MONE,      /*회비 냈는지 안냈는지 여부
                                 // 0 : 안냄
                                // 1 : 냄*/
        USER_PHON,      /*핸드폰 번호*/
        USER_FLAG,      /*기수*/
        PASS_WORD       /*비밀번호(관리자만 설정)*/
        FROM CuvicUser
        WHERE 1=1
        <if test="search_grade != ''">        /*학년별 검색*/
            AND #{search_grade} = USER_GRAD
        </if>
        <if test="search_stat != ''">        /*상태별 검색*/
            AND #{search_stat} = USER_STAT
        </if>
        <if test="search_money != ''">        /*회비 입금 여부별 검색*/
            AND #{search_money} = USER_MONE
        </if>
        <if test="search_flag != ''">        /*기수별 검색*/
            AND #{search_flag} = USER_FLAG
        </if>
    </select>

    <!--
        회원 상태 리스트 받아오는 쿼리
    -->
    <select id="getUserStatList" resultType="com.cuvic.user.UserStatVO">
        SELECT
        STAT_NUMB,
        STAT_NAME
        FROM User_Stat
    </select>


    <!--
        회원 기수 리스트 받아오는 쿼리
    -->
    <select id="getUserFlagList" resultType="int">
        SELECT
        FLAG_NUMB
        FROM User_Flag
    </select>
</mapper>
